<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base.template.html' %}
    <title>Home Page</title>
</head>

<body>
    {% include 'navbar.template.html' %}
    <main class="container-fluid p-5">
        <section class="row m-2">
            
            {% from './components/post.component.html' import PostComponent %}
            {% from './components/message.component.html' import MessageComponent %}

            {{ MessageComponent(messages) }}

            <article class="col-lg-8 col-md-12 col-sm-12 p-2 d-flex flex-column gap-3">
                
                <h4 class="text-primary">Categories</h4>
                <div class="d-flex flex-row justify-content-start gap-2">
                    
                    {% for category in categories %}
                        <ul class="nav nav-underline">
                            <li class="nav-item">
                                <a class="nav-link text-primary {% if request.args.get('category') == category.id|string  %} active {% endif %}" 
                                aria-current="page" href="{{url_for('main.index' , category=category.id)}}">
                                    {{category.title}}
                                </a>
                            </li>
                        </ul>
                    {% endfor %}

                </div>
                
                <hr class="text-primary"/>
                
                {{ PostComponent(posts) }}
            </article>

            <section class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column gap-2 p-2">
    
                <ul class="list-group shadow-sm">
                    <li class="list-group-item active">
                        <h2>Content Requirements</h2>
                    </li>
                    <li class="list-group-item">Originality: We encourage original content that reflects your unique
                        perspective and voice.
                    </li>
                    <li class="list-group-item">Accuracy: Ensure the information you share is factual and well-sourced,
                        especially regarding
                        sensitive topics.</li>
                    <li class="list-group-item">Respect: Be mindful of cultural differences and avoid language that is
                        offensive,
                        discriminatory, or hateful.</li>
                    <li class="list-group-item">Relevance: Content should be related to the chosen topic and avoid
                        irrelevant or off-topic
                        information.</li>
                    <li class="list-group-item">Transparency: If using external sources, please properly cite them to
                        avoid plagiarism.</li>
                </ul>

                <ul class="list-group shadow-sm">
                    <li class=" list-group-item active">
                        <h2>Prohibited Content:</h2>
                    </li>
                    <li class="list-group-item">Hate speech, discrimination, or incitement to violence.</li>
                    <li class="list-group-item">Personal attacks, insults, or harassment.</li>
                    <li class="list-group-item">Spam, irrelevant self-promotion, or commercial content.</li>
                    <li class="list-group-item">Copyrighted material without proper permission.</li>
                    <li class="list-group-item">Content that is illegal, harmful, or misleading.</li>
                </ul>

            </section>
        </section>
    </main>
</body>

</html>