<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'Base.template.html' %}
    <title>Home Page</title>
</head>

<body>
    {% include 'Navbar.template.html' %}
    <main class="container">
        <section class="row p-2">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <section class="col-8 p-4 d-flex flex-column gap-2">
                {% if posts %}
                {% for post in posts.items %}
                <div class="card">
                    <div class="card-header">
                        {{ post.title }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="/profile/view/id={{post.post_owner.id}}">
                            {{post.post_owner.username}}
                        </a></h5>
                        <p class="card-text">{{post.category.title}}</p>
                        <a href="/post/view/id={{post.id}}" class="btn btn-primary">View</a>
                    </div>
                    <div class="card-footer">
                        {{post.post_date}}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No Post Were Created Yet</p>
                {% endif %}
                <section class="d-flex flex-row gap-1">
                    {% for page in posts.iter_pages() %}
                    {% if page %}
                    <a class="btn btn-outline-primary mb-4" href="{{url_for('main.index' , page=page)}}">{{page}}</a>
                    {% endif %}
                    {% endfor %}
                </section>
            </section>
            <section class="col-4">
                <h2>Content Requirements:</h2>
                <ul>
                    <li>Originality: We encourage original content that reflects your unique perspective and voice.
                    </li>
                    <li>Accuracy: Ensure the information you share is factual and well-sourced, especially regarding
                        sensitive topics.</li>
                    <li>Respect: Be mindful of cultural differences and avoid language that is offensive,
                        discriminatory, or hateful.</li>
                    <li>Relevance: Content should be related to the chosen topic and avoid irrelevant or off-topic
                        information.</li>
                    <li>Transparency: If using external sources, please properly cite them to avoid plagiarism.</li>
                </ul>
                <h2>Prohibited Content:</h2>
                <ul>
                    <li>Hate speech, discrimination, or incitement to violence.</li>
                    <li>Personal attacks, insults, or harassment.</li>
                    <li>Spam, irrelevant self-promotion, or commercial content.</li>
                    <li>Copyrighted material without proper permission.</li>
                    <li>Content that is illegal, harmful, or misleading.</li>
                </ul>
                <p>By following these guidelines, you contribute to creating a valuable resource for global audiences.
                    We reserve the right to remove content that violates these policies. If you have any questions,
                    please feel free to contact us.</p>
            </section>
        </section>
    </main>
</body>

</html>