<!doctype html>
<html lang="en">

<head>
    {% include 'Base.template.html' %}
    <title>Login Page</title>
</head>

<body class="d-flex 
flex-column justify-content-center 
align-content-center 
align-items-center p-5">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category , message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="post" action="" class="d-flex 
        flex-column 
        align-content-center 
        justify-content-center 
        align-items-center
        gap-2
        col-lg-3 col-md-8 col-sm-12">
        <h1 class="text-center">Login</h1>
        {{ form.hidden_tag() }}
        {{ form.email }}
        {{ form.password }}
        {{ form.submit }}
        {% if form.errors %}
        {% for key , value in form.errors.items() %}
        <p class="text-danger text-center">{{key}} : {{value[0]}}</p>
        {% endfor %}
        {% endif %}
        <p>
            New User ? <a href="{{url_for('main.register')}}">Register Here</a>
        </p>
    </form>

</body>

</html>