<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'Base.template.html' %}
    {{ ckeditor.load() }}
    <title>Create Post</title>
</head>

<body>
    {% include 'Navbar.template.html' %}
    <main class="container">
        <section class="row">
            <div class="col-12 p-3 d-flex flex-column gap-2">
                <form action="" class="d-flex flex-column gap-2" method="POST">
                    <h1>Create Post</h1>
                    {{ form.hidden_tag() }}
                    {{ form.title }}
                    {{ form.story }}
                    {{ form.category }}
                    {{ form.submit }}
                </form>
            </div>
        </section>
    </main>
</body>

</html>