<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.template.html' %}
    <title>Post {{post.id}}#</title>
</head>
<body>
    {% include 'navbar.template.html' %}
    <main class="container-fluid">
        {% from './components/message.component.html' import MessageComponent %}
        {% from './components/post.component.html' import SinglePostComponent %}
        {% from './components/reply.component.html' import ReplyComponent %}
        {{ MessageComponent(messages) }}
        <section class="col-lg-12 col-sm-12 col-md-12 p-2 d-flex flex-column gap-2">
            {{ SinglePostComponent(post , current_user) }}
            {{ ReplyComponent(replies , current_user) }}
        </section>
    </main>
</body>
</html>