<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'Base.template.html' %}
    {{ ckeditor.load() }}
    <title>Profile</title>
</head>

<body class="">
    {% include 'Navbar.template.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category , message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <section class="col-lg-6 col-md-12 col-sm-12 p-5 container">
        <div>
            <div>
                <h1>Edit Profile</h1>
            </div>
            <div>
                <form action="" class="d-flex flex-column gap-2" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ form.username(value=user.username) }}
                    {{ form.email(value=user.email) }}
                    {{ form.about }}
                    {{ form.profile_picture }}
                    {{ form.submit }}
                </form>
            </div>
            <script>
                document.getElementById('about').value = `
                {{user.about|safe}}
                `
                document.getElementById('profile_picture').value = '{{user.profile_picture}}'
            </script>
    </section>
</body>

</html>