<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base.template.html' %}
    {{ ckeditor.load() }}
    <title>Profile</title>
</head>

<body class="">
    {% include 'navbar.template.html' %}
    {% from './components/message.component.html' import MessageComponent %}
    {{ MessageComponent(messages) }}
    <section class="col-lg-6 col-md-12 col-sm-12 p-5 container">
        <div>
            <div>
                <h1>Edit Profile</h1>
            </div>
            <div>
                <form action="" class="d-flex flex-column gap-2" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ form.username(value=user.username) }}
                    {{ form.email(value=user.email) }}
                    {{ form.about }}
                    {{ form.profile_picture }}
                    {{ form.submit }}
                </form>
            </div>
            <script>
                document.getElementById('about').value = `
                {{user.about|safe}}
                `
                document.getElementById('profile_picture').value = '{{user.profile_picture}}'
            </script>
    </section>
</body>

</html>